body{
    margin: 0;
}

.top-secondary-nav{
background-color: #33a137;
padding: 6px 24px;
justify-content: space-between;
display: flex;
font-family: 'Lato', sans-serif;

}
.top-secondary-nav ul{
margin: 0;
padding: 0;
display: flex;
align-items: center;
font-size: 14px;
}
.top-secondary-nav ul li{
list-style-type: none;
text-transform: uppercase;
align-items: center;
padding: 0 10px;
}
.top-secondary-nav ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
}
.top-secondary-nav ul li a small{
   font-size: 10px;
   background-color: red;
   color: #fff;
   padding: 1px 4px;
   border-radius: 8px;
}
.top-secondary-nav ul li a img{
    width: 25px;

}
.top-secondary-nav ul li img{
    width: 25px;
}
.top-secondary-nav ul li input text{
    border-radius: 8px;
    color: white;
    padding: 4px;
}
.top-secondary-nav ul li button{
    padding: 4px 6px;
    border-radius: 4px;
    border:0;
    background-color: white;
    align-items: center;

}
.top-secondary-nav ul li button span{
    padding: 0 3px;
    
}
.top-secondary-nav ul li span img{
    width: 12px;
}
.top-secondary-nav ul li input{
    border-radius: 4px;
    padding: 4px 6px;
    width: 100px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.top-secondary-nav ul li input::placeholder{
    color: white;
}
.top-primary-nav{
    padding: 0 24px;
    background-color: #f7f7f7
}
.top-primary-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    }
    .top-primary-nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    padding: 6px 16px;
    font-family: 'Lato', sans-serif;
    font-size: 13.2px;
    }
    .top-primary-nav ul li a{
    text-decoration: none;
    color: #848484;
    }
    .top-primary-nav ul li a img{
    width: 140px;
    }
    .banner{
        position: relative;
    }
    .banner img{
        width: 100%;
       
    }
    .banner .upper-layer{
      position: absolute;
      inset: 0;
      background-color:rgba(0,0,0, 0.4);
    }
    .banner .search-area{
        position: absolute;
        top: 100px;
        left: 200px;
    }
    .search-area h1{
        margin: 0;
        justify-content: center;
        display: flex;
        color: white;
        text-shadow: 0.2rem 0.2rem 0 rgb(0 0 0 / 25%);
        font-weight: lighter;
    }
    .catogries{
       margin: 10px 12px;
       justify-content:center ;
       display: flex;
    }
    .catogries button{
        width: 120px;
        height: 38px;
        padding: 8px;
        margin: 8px;
        background-color: transparent;
        border: 1.5px solid white;
        text-shadow: 0.2rem 0.2rem 0 rgb(0 0 0 / 25%);
        color: white;
        
    }
    .location-box{
     text-transform: uppercase;
     background-color: rgba(34,34,34,.85);
     color: white;
     padding: 2px 6px;
     
    }
    .location-box ul{
      margin: 0;
      padding: 0px;
      display: flex;
      align-items: center;
    }
    .location-box ul li{
    list-style-type: none;
    margin: 6px 4px;
    align-items: center;
    
    }
    .location-box ul li p{
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    .location-box ul li button{
    background-color:#33a137;
    border: 0;
    width: 120px;
    height: 45px;
    margin-top: 16px;

    }
     .location-box li input{
     width: 300px;
     height: 40px;
     
    }
    .location-box li .city{
        width: 150px;
        height: 40px;
    }
    .extras li{
        font-size: 12px;
        padding: 0 2px;
    }
    .extras li a{
        color: #0792ea;
        text-decoration: none;
    }
    .banner .popular-cities{
        position: absolute;
        right: 100px;
        top: 100px;
        height: 255px;
        background-color: white;
    
        margin: 10px;
    }
    .popular-cities h1{
        margin: 0;
        display: flex;
        justify-content: center;
        background-color:#eeeeee;
        font-family: Helvetica,sans-serif;
        padding: 12px;
        font-size: 16px;
    }
    .city-names{
        display: flex;
        margin: 24px 0;
        justify-content: space-between;
        background-color: #eeeeee;
        font-family: Helvetica,sans-serif;
        font-size: 14px;
    }
    .city-names ul{
        margin: 0 12px;
        padding: 0;
    }
    .city-names ul li{
        list-style-type: none;
        margin: 14px;
    }
    .explore{
        padding: 24px;
        margin: 50px 50px 0px 50px;
       flex-wrap: wrap;
    }
    .explore h1{
        margin: 0;
        margin-bottom: 16px;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 24px;
        color: #1f1f1f;
    }
    .explore ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }   
    .explore ul li{
      list-style-type: none;
      margin: 12px;
    }
    .explore ul li a{
      text-decoration: none;
      display: flex;
      align-items: center;
      padding-right: 30px;
      padding-bottom: 40px;
    }    
    .explore ul li a:hover img{
       border: 2.5px solid #f9d183;
    } 
    .explore ul li a:hover h2{
        color:  #ffcd6a;
    }
    .explore ul li a img{
      width: 35px;
      height: 80px;
      padding: 0 24px;
      background-color: #fdf8ee;
      border-radius: 8px;
      border: 2.5px solid transparent;

    }
    .explore ul li a span{
        margin-left: 24px;
        
    }
    .explore ul li a span h2 {
     margin: 0;
     padding-bottom: 4px;
     font-family: Lato, Helvetica, sans-serif;
     font-size: 18px;
    color: #1f1f1f;
    font-weight: 700;
    }
    .explore ul li a span p{
      margin: 0;
      padding-top: 4px;
      font-family:  Lato, Helvetica, sans-serif;
      font-size: 14px;
      color: #a3a3a3;
      font-weight: 400;
      
    }
    .explore ul .home-loan a img{
        background-color: #f4f9f7;
    }
    .explore ul .home-loan:hover img{
        border: 2.5px solid #8cffd1;
    }
    .explore ul .home-loan:hover h2{
        color:  #81ffcc;
    }
    .explore ul .area-guide a img{
        background-color: #fef7f7
    }
    .explore ul .area-guide:hover img{
        border: 2.5px solid #ffa6a6;
    }
    .explore ul .area-guide:hover h2{
        color:  #ffa6a6;
    }
    .explore ul .plot-finder a img{
        background-color: #f6faf9;
    }
    .explore ul .plot-finder:hover img{
        border: 2.5px solid #73ffdc;
    }
    .explore ul .plot-finder:hover h2{
        color:  #80ffdf;
    }
    .explore ul .property-index a img{
        background-color: #f5f7ff;
    }
    .explore ul .property-index:hover img{
        border: 2.5px solid #9aaeff;
    }
    .explore ul .property-index:hover h2{
        color:  #9aaeff;
    }
    .explore ul .area-unit a img{
        background-color: #ecf8f7;
    }
    .explore ul .area-unit:hover img{
        border: 2.5px solid #1cfbe9;
    }
    .explore ul .area-unit:hover h2{
        color:  #1cfbe9;
    }
    .explore ul .land-record a img{
        background-color: #f1f9fe;
    }
    .explore ul .land-record:hover img{
        border: 2.5px solid #61c0fb;
    }
    .explore ul .land-record:hover h2{
        color:  #61c0fb;
    }
    .explore ul .property-trends a img{
        background-color: #f9f5ff;
    }
    .explore ul .property-trends:hover img{
        border: 2.5px solid #ba8bff;
    }
    .explore ul .property-trends:hover h2{
        color:  #ba8bff;
    }
    .titanium-agencies-wrapper{
      padding: 0 24px;
      
    
    }
    .titanium-agencies-wrapper h1{
        margin: 0;
        margin-bottom: 16px;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 24px;
        color: #1f1f1f;
        justify-content: center;
        margin-left: 60px;
        font-weight: 700;
    }
    .titanium-agencies-wrapper ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        padding: 0 12px;
      }
      .titanium-agencies-wrapper ul li{
        list-style-type: none;
        padding: 0 24px;
      }
      .titanium-agencies-wrapper ul li img{
       width: 100px;
    }
    .titanium-agencies-wrapper .builder-logos h2{
        justify-content: center;
        display: flex;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 24px;
        color: #1f1f1f;
        margin: 12px;
        font-weight: normal;
     }
     .titanium-agencies-wrapper .builder-logos span{
        display: flex;
        justify-content: center;
        ;
     }
     .titanium-agencies-wrapper .builder-logos span p{
        margin: 0;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 14px;
        color: #222;
        padding: 4px 8px;
     }
     .featured-agencies-wrapper{
        padding: 0 24px;
        margin: 80px 0;  
     }
     .featured-agencies-wrapper h1{
        margin: 0;
        margin-bottom: 16px;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 24px;
        color: #1f1f1f;
        margin-left: 60px;
        font-weight: 700;
        
     }
     .agencies-logos ul{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
     }
     .agencies-logos ul li{
        list-style-type: none;
        margin: 0 6px;
        align-items: center;
        display: flex;
        

     }
     .agencies-logos ul li a{
        text-decoration: none;
    }
    
    .featured-agencies-wrapper .agencies-logos ul li a img{
        width: 63px;
        border-radius: 12px;
     }
     .zameen-projects-wrapper{
        height: 400px;
        background-color: #e5f0fc;
        margin: 24px;
        padding: 12px;
        border-radius: 24px;
     }
    .zameen-projects-wrapper h1{
        margin: 0;
        margin-top: 24px;
        margin-bottom: 16px;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 24px;
        color: #222;
        margin-left: 60px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }
    .zameen-projects-wrapper h1 small{
        margin-left: 40px;
    }
    .zameen-projects-wrapper h1 small{
        
    }
    .zameen-projects-wrapper h1 small p{
        background-color: #e83a3a;
        padding: 4px 12px;
        border-radius: 24px;
        font-size: 14px;
        color: white;
        align-items: center;
        margin: 0;
        display: flex;
    }
    .zameen-projects-wrapper h1 small p span{
        
    }
    .zameen-projects-wrapper h1 small p span img{
        width: 15px;
        margin-right: 6px;
        margin-top: 2px;
    }
    
    .project-wrapper{
       margin: 24px;
    }
    .project-wrapper ul{
        display: flex;    
        padding: 0;
        margin: 0 32px;
    }
    .project-wrapper ul li{
        list-style-type: none;
        margin: 0 12px;
    }
    .project-wrapper ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .project-wrapper ul li a img{
        border-radius: 12px;
        width: 280px;
    }
    .project-wrapper ul li a h2{
        margin: 6px 0;
        font-family: Lato, Helvetica, sans-serif;
        color: #222;
        font-size: 17px;
        font-weight: 700;
       
    }
    .project-wrapper ul li a h2 small{
        font-size: 13px;
    }
    .project-wrapper ul li a p{
        margin: 12px 0;
        color:  #919699;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
    .project-wrapper ul li a ul{
        display: block;
        margin: 0;
        
        
    }
    .project-wrapper ul li a ul li{
        margin: 0;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bolder;
        display: flex;
        margin-bottom: 12px;

    }
    .project-wrapper ul li a ul li span img{
        width: 15px;
        margin-right: 4px;
    }
