body{
    margin: 0;
}

.top-secondary-nav{
background-color: green;
padding: 6px 24px;
justify-content: space-between;
display: flex;
font-family: 'Lato', sans-serif;

}
.top-secondary-nav ul{
margin: 0;
padding: 0;
display: flex;
align-items: center;
font-size: 14px;
}
.top-secondary-nav ul li{
list-style-type: none;
text-transform: uppercase;
align-items: center;
padding: 0 10px;
}
.top-secondary-nav ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
}
.top-secondary-nav ul li a small{
   font-size: 10px;
   background-color: red;
   color: #fff;
   padding: 0 3px;
}
.top-secondary-nav ul li a img{
    width: 25px;

}
.top-secondary-nav ul li img{
    width: 25px;
}
.top-secondary-nav ul li input text{
    border-radius: 8px;
    color: white;
    padding: 4px;
}
.top-secondary-nav ul li button{
    padding: 4px 6px;
    border-radius: 4px;
    border:0;
    background-color: white;
    align-items: center;

}
.top-secondary-nav ul li button span{
    padding: 0 3px;
    
}
.top-secondary-nav ul li span img{
    width: 12px;
}
.top-secondary-nav ul li input{
    border-radius: 4px;
    padding: 4px 6px;
    width: 100px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.top-secondary-nav ul li input::placeholder{
    color: white;
}
.top-primary-nav{
    padding: 0 24px;
    background-color: #f7f7f7;

}
.top-primary-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    }
    .top-primary-nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    padding: 8px 16px;
    font-family: 'Lato', sans-serif;
    font-size: 13.2px;
    }
    .top-primary-nav ul li a{
    text-decoration: none;
    color: #848484;
    }
    .top-primary-nav ul li a img{
        width: 140px;
    }
    .banner img{
        width: 100%;
        position: relative;
    }
    .search-area{
        position: absolute;
        top: 200px;
        left: 200px;
    }
    .search-area h1{
        margin: 0;
        justify-content: center;
        display: flex;
        color: white;
        text-shadow: 0.2rem 0.2rem 0 rgb(0 0 0 / 25%);
        font-weight: lighter;
    }
    .catogries{
       margin: 10px 12px;
       justify-content:center ;
       display: flex;
    }
    .catogries button{
        width: 120px;
        height: 38px;
        padding: 8px;
        margin: 8px;
        background-color: transparent;
        border: 1.5px solid white;
        text-shadow: 0.2rem 0.2rem 0 rgb(0 0 0 / 25%);
        color: white;
        
    }
    .location-box{
     text-transform: uppercase;
     background-color: rgba(34,34,34,.85);
     color: white;
     padding: 2px 6px;
     
    }
    .location-box ul{
      margin: 0;
      padding: 0px;
      display: flex;
      align-items: center;
    }
    .location-box ul li{
    list-style-type: none;
    margin: 6px 4px;
    align-items: center;
    
    }
    .location-box ul li p{
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    .location-box ul li button{
    background-color: green;
    border: 0;
    width: 120px;
    height: 45px;
    margin-top: 16px;

    }
     .location-box li input{
     width: 300px;
     height: 40px;
     
    }
    .location-box li .city{
        width: 150px;
        height: 40px;
    }
    .extras li{
        font-size: 12px;
        padding: 0 2px;
    }
    .extras li a{
        color: #0792ea;
        text-decoration: none;
    }
    .popular-cities{
        position: absolute;
        right: 100px;
        top: 200px;
        height: 255px;
        background-color: white;
    
        margin: 10px;
    }
    .popular-cities h1{
        margin: 0;
        display: flex;
        justify-content: center;
        background-color:#e5e5e5;
        font-family: Helvetica,sans-serif;
        padding: 12px;
        font-size: 16px;
    }
    .city-names{
        display: flex;
        margin: 24px 0;
        justify-content: space-between;
        background-color:#e5e5e5;
        font-family: Helvetica,sans-serif;
        font-size: 14px;
    }
    .city-names ul{
        margin: 0 12px;
        padding: 0;
    }
    .city-names ul li{
        list-style-type: none;
        margin: 14px;
    }

   