.w-175{
    width: 1.75rem;
}
.w-19{
    width: 2rem;
}
.w-15{
    width: 6rem;
}
.w-8{
    width: 9rem;
}
.w-130{
    width: 130px;
}
.w-60{
    width: 60%;
}
.w-700{
    width: 700px;
}
.h-175{
    height: 1.75rem;
}
.h-15{
    height: 1.5rem;
}
.ps-0{
    padding-left: 0;
}
.fs-7{
    font-size: 10px;
}
.fs-8{
    font-size: 12px;
}
.fc-1{
    color: #848484!important;
    
}
.fc-2{
color: #33a137!important;
font-weight: 700!important;
}
.fc-3{
    color: #767676;
    font-family: lato;
}
.ff-1{
    font-family: lato;
}
.h-30{
    height: 30px;
}
.h-55{
    height: 50px;
}
.bgc-1{
    background-color: rgba(86,90,92,.5);
}
.text-decoration-none{
    text-decoration: none;
}
.collapse{
    font-family: lato;
    font-size: 13px;
    color: white;
    font-weight: 700;
}
.bg-green{
    background-color: #33a137;
}
.bg-grey{
    background-color: rgba(34,34,34,.85);
}
.nav-item a small{ 
background-color: red;
margin: 2px 4px;
padding: 1px 4px;
font-size: 8px;
border-radius: 4px;
}
.top-right-ul  li{
list-style-type: none;
margin: 0 8px;
}
.top-right-ul li a{
text-decoration: none;
}
.top-right-ul li input{
width: 120px;
border-radius: 6px;
border: 1px solid white;
background-color: transparent;
padding: 2px 0;
}
.navbar-nav ul li a{
    color: white;
}
.top-right-ul li input::placeholder{
color: white;
padding: 0 4px;
font-size: 13px;
}
.top-right-ul li  button{
border-radius: 6px;
font-size: 13px;
padding: 0 12px 0 6px;
border: 0;
height: 25px;
}
.top-right-ul li  button span{
padding: 0 3px;
}
.top-right-ul li  button span img{
width: 12px;
}
.top-right-ul li a img{
width: 30px;
}
.top-primary-nav-font-style li a{
    font-family: lato;
    font-size: 13px;
    margin-top: 10px;
    font-weight: normal;
}
.banner{
    position: relative;
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
}
.carousel-caption{
    left: 25%!important;
    bottom: 8.5rem!important;
}
.carousel-caption ul li{
list-style-type: none;
margin: 12px;
}

.carousel-caption .catogries li button{
width: 120px;
text-decoration: none;
color: white;
border: 1px solid white;
font-family: lato;
}
.carousel-caption .catogries li button:hover{
    border:1px solid white!important;
    background-color: rgba(86,90,92,.5);
}
 .location-bar .dropdown-toggle::after {
    margin-left: 1.65rem!important;
}
.search-box-wrapper{
width: 600px;
}
.location-bar ul li{
    margin: 12px 4px;
}
.location-bar li button:hover {
    background-color: #238727;
}
.explore .container ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}   
.explore .container ul li{
  list-style-type: none;
  margin: 12px 20px 35px 12px;
  width: 22%;
}
.explore .container ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
}    
.explore .container ul li a:hover img{
   border: 2.5px solid #f9d183;
} 
.explore .container ul li a:hover h2{
    color:  #ffcd6a;
}
.explore .container ul li a img{
  width: 95px;
  height: 90px;
  padding: 0 24px;
  background-color: #fdf8ee;
  border-radius: 8px;
  border: 2.5px solid transparent;
}
.explore .container ul li a span{
    margin-left: 24px;
    
}
.explore .container ul li a span h2 {
 margin: 0;
 padding-bottom: 4px;
 font-family: Lato, Helvetica, sans-serif;
 font-size: 18px;
color: #1f1f1f;
font-weight: 700;
}
.explore .container ul li a span p{
  margin: 0;
  padding-top: 4px;
  font-family:  Lato, Helvetica, sans-serif;
  font-size: 14px;
  color: #a3a3a3;
  font-weight: 400;
}.explore .container ul .home-loan a img{
    background-color: #f4f9f7;
}
.explore .container ul .home-loan:hover img{
    border: 2.5px solid #8cffd1;
}
.explore .container ul .home-loan:hover h2{
    color:  #81ffcc;
}
.explore .container ul .area-guide a img{
    background-color: #fef7f7
}
.explore .container ul .area-guide:hover img{
    border: 2.5px solid #ffa6a6;
}
.explore .container ul .area-guide:hover h2{
    color:  #ffa6a6;
}
.explore .container ul .plot-finder a img{
    background-color: #f6faf9;
}
.explore .container ul .plot-finder:hover img{
    border: 2.5px solid #73ffdc;
}
.explore .container ul .plot-finder:hover h2{
    color:  #80ffdf;
}
.explore .container ul .property-index a img{
    background-color: #f5f7ff;
}
.explore .container ul .property-index:hover img{
    border: 2.5px solid #9aaeff;
}
.explore .container ul .property-index:hover h2{
    color:  #9aaeff;
}
.explore .container ul .area-unit a img{
    background-color: #ecf8f7;
}
.explore .container ul .area-unit:hover img{
    border: 2.5px solid #1cfbe9;
}
.explore .container ul .area-unit:hover h2{
    color:  #1cfbe9;
}
.explore .container ul .land-record a img{
    background-color: #f1f9fe;
}
.explore .container ul .land-record:hover img{
    border: 2.5px solid #61c0fb;
}
.explore .container ul .land-record:hover h2{
    color:  #61c0fb;
}
.explore .container ul .property-trends a img{
    background-color: #f9f5ff;
}
.explore .container ul .property-trends:hover img{
    border: 2.5px solid #ba8bff;
}
.explore .container ul .property-trends:hover h2{
    color:  #ba8bff;
}
.titanium-agencies-wrapper .container ul{
    flex-wrap: wrap;
}
.titanium-agencies-wrapper .container ul li{
list-style-type: none;
display: flex;
margin: 0 30px 35px 12px;
width: 21%;
}
.titanium-agencies-wrapper .container ul li:hover img{
border: 1px solid blue;
}
.titanium-agencies-wrapper .container ul li a{
text-decoration: none;
display: flex;
color: black;
align-items: center;
}
.titanium-agencies-wrapper .container ul li a img{
margin-right: 8px ;
border: 1px solid transparent;
}
.titanium-agencies-wrapper .container ul li a span{

}
.titanium-agencies-wrapper .container ul li a span h6{
margin: 8px
}
.titanium-agencies-wrapper .container ul li a span p{
margin: 0 8px 8px 8px;
display: flex;
align-items: center;
}
.titanium-agencies-wrapper .container ul li a span p i{
color: rgb(0, 205, 0);
padding-right: 4px;
}


