.w-175{
    width: 1.75rem;
}
.w-19{
    width: 2rem;
}
.w-15{
    width: 6rem;
}
.h-175{
    height: 1.75rem;
}
.h-15{
    height: 1.5rem;
}
.collapse{
    font-family: lato;
    font-size: 13px;
    color: white;
}
.bg-green{
    background-color: #33a137;
}
.top-right-ul  li{
list-style-type: none;
margin: 0 8px;
}
.top-right-ul li a{
text-decoration: none;
}
.top-right-ul li input{
width: 120px;
border-radius: 6px;
border: 1px solid white;
background-color: transparent;
padding: 2px 0;
}
.navbar-nav ul li a{
    color: white;
}
.top-right-ul li input::placeholder{
color: white;
padding: 0 4px;
font-size: 13px;
}
.top-right-ul li  button{
border-radius: 6px;
font-size: 13px;
padding: 0 12px 0 6px;
border: 0;
}
.top-right-ul li  button span{
padding: 0 3px;
}
.top-right-ul li  button span img{
width: 12px;
}
.top-right-ul li a img{
width: 30px;
}




